body {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; 
	margin: 0px auto; width: 1000px;
	font-size: 13px; 
	background-color: #FDF6D2;
}


h1 { font-size:22px; }

h2 { font-size:17px; }

h3 { font-size:15px; }

.floete {
	float:left; 
}

.clear {
	clear:both; 
}

.odd {
	background-color: #9CCDE1; 
}

.even {
	background-color: #CCCCCC; 
}

td {
	padding: 7px; 	
}

#content{
	background: #FAF8F2; 
	border: 1px solid #585858; 
	padding: 10px 10px 30px 10px; 
	position: relative;
	margin-top: 20px; 
	
}

.sum {
	background: #FF7F50; 
	color: #FFF; 
	font-weight: bold; 
}