<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>de.iplabs.almenrausch.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddTaskServlet</servlet-name>
		<servlet-class>de.iplabs.almenrausch.AddTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTaskServlet</servlet-name>
		<url-pattern>/addTask</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteTaskServlet</servlet-name>
		<servlet-class>de.iplabs.almenrausch.DeleteTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteTaskServlet</servlet-name>
		<url-pattern>/deleteTask</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateTaskServlet</servlet-name>
		<servlet-class>de.iplabs.almenrausch.UpdateTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateTaskServlet</servlet-name>
		<url-pattern>/updateTask</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateTaskSubmitServlet</servlet-name>
		<servlet-class>de.iplabs.almenrausch.UpdateTaskSubmitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateTaskSubmitServlet</servlet-name>
		<url-pattern>/updateTaskSubmit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewTasksServlet</servlet-name>
		<servlet-class>de.iplabs.almenrausch.ViewTasksServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewTasksServlet</servlet-name>
		<url-pattern>/viewTasks</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LookupTaskServlet</servlet-name>
		<servlet-class>de.iplabs.almenrausch.LookupTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LookupTaskServlet</servlet-name>
		<url-pattern>/lookupTask</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>de.iplabs.almenrausch.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>ChromeFilter</filter-name>
		<filter-class>de.iplabs.almenrausch.web.ChromeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ChromeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>de.iplabs.almenrausch.web.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>

</web-app>
